@{
    ViewData["Title"] = "Google Map";
}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/maps/documentation/javascript/cgc/demos.css">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoogleMap</title>
    <h1>Studio Location</h1>
</head>
<body>
<script>
    function avMap() {
        var myCanvas = document.getElementById('map1');
        var mapCenter = new google.maps.LatLng(6.949707, 80.1831939);
        var mapOptions = {
            center: mapCenter,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP //SATELLITE, HYBRID, TERRAIN
        };
        var mapAv = new google.maps.Map(myCanvas, mapOptions);
        var marker1 = new google.maps.Marker({
            position: mapCenter,
            animation: google.maps.Animation.BOUNCE,
            draggable: false
        });
        marker1.setMap(mapAv);
        var marker2 = new google.maps.Marker({
            position: {
                lat: 6.4692368,
                lng: 80.5755751
            },
            animation: google.maps.Animation.DROP,
            draggable: false
        });
        marker2.setMap(mapAv);
        //info-window
        var avNote = "<p>" + "Avissawella is the most beautiful area in Sabaragamuwa/Western border." + " " + "For more details, please visit" +
            " " + "<a href='https://en.wikipedia.org/wiki/Avissawella'" + "target='_blank'>" + "this link" + "</a>";
        var infoWin = new google.maps.InfoWindow({
            content: avNote,
            maxWidth: 200
        });
        infoWin.open(mapAv, marker1);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=avMap" async defer></script>
<div id="map1"></div>
</body>
</html>
