@{
    ViewData["Title"] = "Google Map";
}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/maps/documentation/javascript/cgc/demos.css">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoogleMap</title>
    <h1>Studio Location</h1>
</head>
<body>
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = { lat: 31.771959, lng: 35.217018 };

            // Create a map object and specify the DOM element
            // for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 4
            });

            // Create a marker and set its position.
            var marker = new google.maps.Marker({
                map: map,
                position: myLatLng,
                title: 'First Marker'
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
</body>
</html>
